body
	direction: rtl
	background-color: #111318
	color: #999
	text-shadow: #15171a 1px 1px 0

main
	background-color: #36373b

summary
	&::-webkit-details-marker
		color: #67ddf7

section
	header
		min-height: 4rem
	h2
		background: linear-gradient(to top, hsla(191, 4%, 16%, 1) 10%, transparent 85%)
	img
		margin-top: -10px

#modal-backdrop
	display: none
	z-index: 1000
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	background-color: rgba(0, 0, 0, .7)
#modal-container
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	margin: auto
	max-width: 35rem
	width: 90%
	height: 90vh
	background-color: white
	border: 2px solid gray
	border-radius: 5px
	padding: 1rem
	text-shadow: none
	overflow-y: scroll

footer
	position: fixed
	bottom: 1rem
	left: 1rem
	font-size: 1.2rem
	display: none
	background-color: transparent