body
	direction: rtl
	background-color: #111318
	color: #999
	text-shadow: #15171a 1px 1px 0

main
	background-color: #36373b

footer
	position: fixed
	bottom: 1rem
	left: 1rem
	font-size: 1.2rem
	display: none
	background-color: transparent